.newPicturesWrapper {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 55px auto;
}

.addPicturesPanel {
    background: #8080801c;
    display: table-cell;
    vertical-align: middle;
    margin: 8px 0px;
    height: 200px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.addPicturesPanel>span {
    position: relative;
    top: 80px;
    font-size: 40px;
    color: gray;
}

.addPicture {
    display: none;
}

.imgOption {
    max-width: 100%;
    max-height: 100%;
}

.sendLink {
    background: var(--mainMediumBkg);
}

#linkOutputWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

#linkOutput {
    color: var(--mainStrongBkg);
    border: 0px;
    border-bottom: 1px solid #80808099;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    height: 80px;
}